* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.app-card-section {
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}
.technical-search {
  align-items: left;
  justify-content: space-between;
  padding-left: 3rem;
  background-color: white;
  
}
table {
  border: 2px solid rgb(3, 3, 3);
  align-items: left;
  width: 800px;
  height: 200px;
  background-color: white;

}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  color: #eaebf7;
  background-color: rgb(21, 52, 227);
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
.navbar-menu-container {
  display: none;
  align-items: center;
  
}
.nav-logo-container {
  align-items: center;
  text-align: center;
}
.navbar-links-container a {
  margin-right: 3rem;
  padding-left: 0.5rem;
  text-decoration: none;
  color: rgb(250, 242, 242);
  font-size: 1.1rem;
  font-weight: 400;
  align-items: center;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(237, 238, 244);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.about-wrapper {
  background-color: rgb(237, 238, 244);
}
.about-section-text-container {
  flex: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.Read-more-button {
  background-color: transparent;
  outline: none;
  border: none;
  
}
.Read-more-button:hover{
  background-color: #96969b;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
  align-items: center;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 10rem;
  padding-left: 3rem;
  
}
.home-bannerImage-container {
  top: 40px;
  max-width: 550px;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
.about-text-section {
  flex: 1;
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
}
.about-part-2-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
}
.list-1{
  padding-left: 50px;
}
.primary-about-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  
  color: blue;
  /* line-height: 5rem; */
  max-width: 500px;
  align-items: left;
  padding-left: 150px;
  padding-top: 100px;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #040303;
  /* line-height: 5rem; */
  max-width: 700px;
}
.primary-heading-2 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #040303;
  /* line-height: 5rem; */
  
}
.primary-heading-app {
  font-size: clamp(0.5rem, 5vw, 2rem);
  color: #040303;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 650px;
  color: #020101;
  margin: 1.5rem 0rem;
}
.primary-text-2 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 650px;
  color: #020101;
  margin: 1.5rem 5rem;
  
}

 
  
  
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #0d21fe;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-button {
  padding: 1rem 2.5rem;
  background-color: #0d21fe;
  outline: none;
  float: right;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  
}
.about-button-2 {
  padding: 1rem 2.5rem;
  background-color: #0d21fe;
  outline: none;
  
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  
}
.button {
  
  float: right;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #330fe4;
}
.about-us-container {
  background-image: linear-gradient( #4361EE, #4CC9F0 , white);
  z-index: -2;
}
.technical-container {
  background-image: linear-gradient( #4361EE, #4CC9F0 , white);
  align-items: center;
  padding-left: 3rem;
  padding-top: 5rem;
}
.technical-search {
  align-items: right;
}
.about-section-wrapper {
  background-image: linear-gradient( #4361EE, #4CC9F0 , white);
  align-items: center;
  display: flex;
  padding-top: 10rem;
  padding-left: 3rem;
}
.partner-card {
  width: 80%;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  min-width: fit-content;
  
}
.footer-copyright{
  background-color: #0d21fe;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 160px;
}
.partner-section-2 {  
  background-color: white;
  align-items: center;
}
.partner-3 {
  background-color: white;
  align-items: center;
  
}
.partner-Container {
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  
}
.about-section-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-background-image-container {
  position: absolute;
  right: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}

.Grid-highlight {
  color: Blue;
}

.Founder-series-cube {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Founder-series-cube2 {
  position: relative;
  top: -264px;
  right: -360px;
  
}
.pre-rectangle {
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  padding-left: 3rem;
  
}

  
.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  
}
.Access-Container {
  padding-top: 10rem;
  padding-left: 3rem;
}
.Access-text-section {
  position: relative;
  top: -532px;
  right: -320px;
  justify-content: center;
  display: inline-block;
  flex-direction: column;
  text-wrap: wrap;
  
  
}
.Para {
  max-width: 480px;
  text-align: left;
}
.primary-subheading {
  font-weight: 700;
  color: #040303;
  font-size: 1.15rem;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
.footer-wrapper {
  top: -532px;
  margin: 0rem;
  display: flex;
  margin-top: 10rem;
  background-color: #0d21fe;
  
  
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
  margin-right: auto;
  
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #f9f8f8;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns-2 {
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
  min-width: 190px;
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #f2ecec;
  cursor: pointer;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #f2ecec;
  cursor: pointer;
}
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  margin-top: 15rem;
}
.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}
.work-section-top h1 {
  max-width: 700px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 290px;
  min-height: 380px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}
.about-section-info {
  width: 800000px;
  min-height: 600px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}
.work-section-info h2 {
  margin: 1rem 0rem;
}
.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.Book-section {
  background: white;
  align-items: center;
}
.Book-Container {
  
  padding-left: 3rem;
  text-align: center;
}
.book-links-text {
  text-align: center;
  
  margin-left: auto;
  margin-right: auto;
}

.Book-Container p {
  
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}
@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
    display: flex;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
    align-items: center;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: left;
    align-items: left;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .about-image {
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;

    
  }
  
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: flex;
    align-items: center;
  }
}